* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", serif;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
body {
  background: black;
}
.paddingLR {
  padding-left: 150px;
  padding-right: 150px;
}
/* header start */
header {
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 1), rgb(17, 17, 17) 100%);
}
/* nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
#navTitle {
  font-size: 36px;
  color: rgb(230, 83, 60);
  font-weight: 800;
}
#navItems ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#navItems li {
  list-style: none;
}
#navItems li > a {
  text-decoration: none;
  font-size: 18px;
}
#home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 10px 20px;
  font-weight: 600;
}
/* banner */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}
#blTitle {
  font-size: 60px;
  font-weight: 900;
}
#ita {
  font-family: "Allura", serif;
  font-weight: 400;
  font-size: 78px;
}
#blDisc {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn {
  border-radius: 42px;
  padding: 16px 30px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background: none;
}
#btn1 {
  background: rgb(230, 83, 60);
  border: none;
  margin-right: 20px;
}
#bannerRight{
    position: relative;
}
#text{
    color: rgba(255, 255, 255, 0.65);
}
#videosPop{
    position: absolute;
    top: 150px;
    right: -80px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 170px;
}
#videosPop #amount{
    font-size: 40px;
    font-weight: 900;
}
#videosPop #text{
    font-size: 13px;
    font-weight: 400;
    
}
#tutorialsPop{
    position: absolute;
    bottom: 63px;
    left: -110px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

#tutorialsPop #amount{
    font-size: 24px;
    font-weight: 900;
}
#tutorialsPop #text{
    font-size: 16px;
    font-weight: 400;
}
#circle{
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* main start */
/* *************************************** */
/* Change Your Habits Section start */
#habbitsSection{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: white; */
}
#habbitsSection .sectionTitle{
    font-size: 48px;
    font-weight: 900;
}
#habbitsSection .sectionDisc{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    margin-bottom: 50px;
}
#habbitsCards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#habbitsCards .card{
  width: 200px;
    /* text-align: center; */
}
#habbitsCards .card .cardTitle{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 8px;
}
#habbitsCards .card .cardDisc{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
#habbitsCards .card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
